.btn {
  display: inline-block;
  padding: 5.5px 12px;
  border-radius: 4px;
  &__text{
    font-size: 12px;
    font-weight: 400;
  }
  &--default {
    background-color: #022F64;
    color: #fff;
    &:hover {
      background-color: #1A5190;
      color: #fff;
    }
  }
  &--line {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    &:hover {
      background-color: #F4F7FA;
      color: #333;
    }
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

/* Icon classes */
.icon-delete {
  background-image: url('/assets/img/icon/icon_delete_gray.png');
}

.icon-link {
  background-image: url('/assets/img/icon/icon_link_white.png');
}