.custom-input {
  position: relative;
  width: 330px;
  &__label {
    font-size: 13px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 12px;
  }
  &__wrapper {
    position: relative;
  }
  &__input {
    width: 330px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
  }
  &__clear-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: 0;
  }
}